* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: Rubik;
    src: url('./fonts/Rubik/Rubik-VariableFont_wght.ttf');
}

p, span {
    font-family: Rubik;
    color: white;
}

body {
    background-color: hsl(226, 43%, 10%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

main {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    grid-auto-rows: minmax(150px, auto);
    width: 80%;
}

.item {
    border-radius: 15px;
}

.large {
    grid-column: 1;
    grid-row: 1 / 3;
    background-color: hsl(235, 46%, 20%);
}

.profile {
    border-radius: 15px;
    background-color: hsl(246, 80%, 60%);
    padding: 10%;
}

.profile img {
    border: 3px solid white;
    border-radius: 50%;
}

.report {
    font-weight: 300;
    font-size: 13px;
    margin: 30px 0 0;
}

.username {
    font-size: 38px;
    font-weight: 300;
    margin: 0 0 40px;
}

.navs {
    padding: 10px;
}

.navlink {
    margin: 10px 25px;
    font-size: 14px;
    color: hsl(235, 45%, 61%);
    display: inline-block;
    transition: color 0.25s;
}

.navlink:hover {
    cursor: pointer;
    color: white;
}

.short {
    background-repeat: no-repeat;
    background-position: right top;
    display: flex;
    flex-direction: column-reverse;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.one {
    background-color: hsl(15, 100%, 70%);
    background-image: url('./images/icon-work.svg');
}

.two {
    background-color: hsl(195, 74%, 62%);
    background-image: url('./images/icon-play.svg');
}

.three {
    background-color: hsl(348, 100%, 68%);
    background-image: url('./images/icon-study.svg');
}

.four {
    background-color: hsl(145, 58%, 55%);
    background-image: url('./images/icon-exercise.svg');
}

.five {
    background-color: hsl(264, 64%, 52%);
    background-image: url('./images/icon-social.svg');
}

.six {
    background-color: hsl(43, 84%, 65%);
    background-image: url('./images/icon-self-care.svg');
}

.data {
    background-color: hsl(235, 46%, 20%);
    border-radius: 15px;
    height: 80%;
    transition: background-color 0.25s;
}

.data:hover {
    background-color: hsl(236, 41%, 34%);
    cursor: pointer;
}

.top {
    padding: 20px 10%;
    font-size: 18px;
    font-weight: 500;
    display: flex;
    width: 80%;
    align-items: center;
    justify-content: space-between;
}

.options:hover {
    filter: brightness(0) invert(1);
    cursor: pointer;
}

.texts {
    padding: 0 10%;
}

.current {
    font-size: 50px;
    font-weight: 300;
}

.previous {
    margin: 0 0 20px;
    font-size: 14px;
    font-weight: 300;
}

@media(max-width: 900px) {
    main {
        width: 95%;
    }

    .username {
        font-size: 30px;
    }

    .current {
        font-size: 38px;
    }

    .previous {
        font-size: 13px;
    }
}

@media(max-width: 650px) {
    main {
        grid-template-columns: repeat(1, 1fr);
    }

    .large {
        grid-column: 1;
        grid-row: 1;
    }

    .profile {
        padding: 20px 5%;
        display: flex;
        align-items: center;
    }

    .user {
        margin: 0 5%;
    }

    .navs {
        display: flex;
        justify-content: space-evenly;
    }

    .line-end {
        display: none;
    }

    .data {
        height: 75%;
    }

    .texts {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .previous {
        margin: 0;
        font-size: 16px;
    }
}